#ship-panel{
  layout: grid;
  grid-size: 4;
  grid-columns: 1fr 1fr auto auto
}

.table > .datatable--header
{
  background: transparent;
}

#panel-logs
{
  column-span: 4;
}

.box
{
  border: round white;
}
